* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 5px;
}

.logo {
  font-size: 2.2rem;
  text-align: center;
  color: #fff;
  margin: 1rem 0;
  font-weight: bold;
  
}

.logo span {
  color: #dbdb00;
}

.heading {
  text-align: left;
  display: block;
  width: 100%;
  border-bottom:1px solid #ddd ;
  padding-bottom: 5px;
  font-size: 1.6rem;
  padding-left: 15px;
  font-weight: bold;
  color: #555;
}

.list .list-item {
  padding: 7px 16px;
  text-align: left;
}


.viewer-container {
  height: 80vh;
  overflow-y: auto;
}

.text-white {
  color: #fff;
}